@model IEnumerable<Product>
@section Scripts  {
    <script src="~/client/dist/runtime.js"></script>
    <script src="~/client/dist/polyfills.js"></script>
    <script src="~/client/dist/styles.js"></script>
    <script src="~/client/dist/vendor.js"></script>
    <script src="~/client/dist/main.js"></script>
}
<h1>Shop</h1>
<the-shop></the-shop>